body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack topbar, container, and bottombar vertically */
    height: 100vh;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar button {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.topbar button:hover {
    background-color: #0056b3;
}

.topbar input {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#year-indicator {
    margin-left: auto;
    font-weight: bold;
}

.container {
    display: flex;
    flex: 1; /* Allow the container to take up available space */
    flex-direction: row; /* Map and sidebar side by side */
}

#map-container {
    flex: 2; /* Map takes up more space */
    height: 100%;
    border: 1px solid black;
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.sidebar {
    flex: 1; /* Sidebar takes up less space */
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.bottombar {
    height: 50px;
    background-color: #f1f1f1;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
